<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>property infor</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="table">
    <form action="" method="post">
        {% csrf_token %}
        <h2>Enter property information</h2>

        {{ form.as_p }}


        <input type="submit" value="submit">
    </div>
</body>
</html>